@import "tailwindcss";
@import "prismjs/themes/prism-okaidia.css";
@import "./variables.css";

html,
body {
  @apply bg-[var(--color-elevation-level-0)] text-sm;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

button {
  @apply hover:cursor-pointer;
  &:disabled {
    pointer-events: none;
  }
}

* {
  box-shadow: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
select {
  @apply w-full h-8 rounded-[4px] bg-secondary-default border border-elevation-border px-2;
  &:disabled {
    @apply text-text-disabled bg-elevation-level-1;
  }
  &:focus {
    @apply border-primary-default outline-none bg-elevation-contrasted/10;
  }
}

/* Стиль для полей ввода с иконкой слева */
.input-with-icon-left {
  @apply !pl-8 pr-3 text-text-default;
  &::placeholder {
    @apply text-text-shaded;
  }
}
