@import "tailwindcss";
@import "prismjs/themes/prism-okaidia.css";
@import "./variables.css";

html,
body {
  @apply bg-[var(--color-elevation-level-0)] text-sm;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

button {
  @apply hover:cursor-pointer disabled:cursor-not-allowed;
}
